@import '~FlexLayoutMixin';

body, header, footer, main, .container  {
  @include flex-layout(0, 0);
}

.container, main  {
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.header {
  align-items: center;
  justify-content: space-between;
  flex-basis: 3.5em;
  width: 100vw;
  &-logo {
    margin-left: 0.5em;
    margin-right: auto;
  }
  &-avatar {
    width: 2em;
    height: 2em;
    margin: 0;
  }
  &-name {
    margin-left: 0.5em;
  }
  &-name:last-of-type {
    margin-left: 0.5em;
  }
}

.content {
  min-height: calc(100vh - 3.5em - 3.5em);
  padding: 2em 2em 2em 2em;
  &::-webkit-scrollbar {
    display: none;
  }
  &-table {
    &-wrapper {
      display: relative;
      max-height: calc(100vh - 3.5em - 3.5em - 2em - 2em);
      margin: 0;
      overflow: auto;
      .ui.table {
        margin: 0;
      }
    }
    &-row-actions {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      .icon {
        margin: auto 0.5em;
      }
    }
  }
  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    &-card {
      margin: 1em;
      padding: 1em;
    }
  }
}

.footer {
  align-items: center;
  justify-content: flex-end;
  flex-basis: 3.5em;
  width: 100vw;
  &-link {
    &-icon {
      margin-left: 1em;
    }
    &-icon::after {
      margin-left: 0.4em;
    }
  }
  &-view {
    &-icon {
      margin-left: 1em;
    }
    &-icon::after {
      margin-left: 0.4em;
    }
  }
}