@import '~FlexLayoutMixin';

body, header, footer, main, .container  {
  @include flex-layout(0, 0);
}

.container, main  {
  flex-direction: column;
  height: 100vh;
}

.header {
  align-items: center;
  justify-content: space-between;
  flex-basis: 3.5em;
  width: 100vw;
  &-logo {
    margin-left: 0.5em;
    margin-right: auto;
  }
  &-avatar {
    width: 2em;
    height: 2em;
    margin: 0;
  }
  &-name {
    margin-left: 0.5em;
  }
  &-name:last-of-type {
    margin-left: 0.5em;
  }
}

.content {
  width: 100vw;
  flex: auto;
  padding: 0 1em 0 1em;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    &-card {
      margin: 1em;
      padding: 1em;
    }
  }
  &-table {
    margin: 2em 1em 2em 1em;
    padding: 0.5em 2em;
    display: flex;
    flex-direction: row;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &-column {
      display: flex;
      flex-direction: column;
      flex: auto;
      align-items: stretch;
    }
  }
  &-stack {
    padding-top: 1em;
    margin: 0em 0 0em 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    &-column {
      height: 100vh;
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: stretch;
      &-card {
        padding: 1em;
        flex: none;
        margin: 1em;
      }
      &-card:last-of-type {
        margin-bottom: 2em;
      }
    }
  }
}

.footer {
  align-items: center;
  justify-content: flex-end;
  flex-basis: 3.5em;
  width: 100vw;
  &-link {
    &-icon {
      margin-left: 1em;
    }
    &-icon::after {
      margin-left: 0.4em;
    }
  }
  &-view {
    &-icon {
      margin-left: 1em;
    }
    &-icon::after {
      margin-left: 0.4em;
    }
  }
}